# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
__pycache__/folder_to_pdf.cpython-312.pyc
__pycache__/pdf_to_folder.cpython-312.pyc
# Virtual environment
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Test folder
test/

# PDF files
*.pdf
# IDEs and editors
.vscode/
.idea/
*.swp

